node_modules
package-lock.json
package.json
manifest-generator.bat
manifest-generator.js
guides/test.js
config.json
generated-manifest.json
newtonsoft.json.dll
SHAGen.exe
SHAGen.exe.config
